In [55]:
import findspark 
findspark.init()
from pyspark.sql import SparkSession 
from pyspark.sql.types import * 
from pyspark.sql.functions import *
import pandas as pd

In [103]:
df = pd.read_csv("Ecommerce Purchases")

50.347302

In [110]:
spark = SparkSession.builder.master("local").appName("Spark").getOrCreate()

In [112]:
data = spark.createDataFrame(df)
data.show(1)

+--------------------+-----+--------+--------------------+---------------+----------------+-----------+----------------+------------+-----------------+--------------------+---------------+--------+--------------+
|             Address|  Lot|AM or PM|        Browser Info|        Company|     Credit Card|CC Exp Date|CC Security Code| CC Provider|            Email|                 Job|     IP Address|Language|Purchase Price|
+--------------------+-----+--------+--------------------+---------------+----------------+-----------+----------------+------------+-----------------+--------------------+---------------+--------+--------------+
|16629 Pace Camp A...|46 in|      PM|Opera/9.56.(X11; ...|Martinez-Herman|6011929061123406|      02/20|             900|JCB 16 digit|pdunlap@yahoo.com|Scientist, produc...|149.146.147.205|      el|         98.14|
+--------------------+-----+--------+--------------------+---------------+----------------+-----------+----------------+------------+-----------------+--------------------+---------------+--------+--------------+
only showing top 1 row

In [113]:
data.createOrReplaceTempView('data')

In [ ]:
# ** What is the average Purchase Price? **

In [124]:
spark.sql('select mean(`Purchase Price`) from data').show()

+-------------------+
|avg(Purchase Price)|
+-------------------+
|  50.34730200000025|
+-------------------+

In [ ]:
#** What were the highest and lowest purchase prices? **

In [125]:
spark.sql('select max(`Purchase Price`) from data').show()

+-------------------+
|max(Purchase Price)|
+-------------------+
|              99.99|
+-------------------+

In [126]:
spark.sql('select min(`Purchase Price`) from data').show()

+-------------------+
|min(Purchase Price)|
+-------------------+
|                0.0|
+-------------------+

In [ ]:
#** How many people have English 'en' as their Language of choice on the website? **

In [128]:
spark.sql('select count(*) as en_count from data where Language = "en"').show()

+--------+
|en_count|
+--------+
|    1098|
+--------+

In [ ]:
#** How many people have the job title of "Lawyer" ? **

In [133]:
spark.sql('select count(*) as lawyer_count from data where lower(Job) = "lawyer"').show()

+------------+
|lawyer_count|
+------------+
|          30|
+------------+

In [ ]:
#** How many people made the purchase during the AM and how many people made the purchase during PM ? **

In [140]:
spark.sql('select `AM or PM` , count(`AM or PM`) as counts from data group by `AM or PM`').show()

+--------+------+
|AM or PM|counts|
+--------+------+
|      PM|  5068|
|      AM|  4932|
+--------+------+

In [ ]:
#** What are the 5 most common Job Titles? **

In [139]:
spark.sql('select job , count(job) as job_count from data group by job order by job_count desc ').show(5)

+--------------------+---------+
|                 job|job_count|
+--------------------+---------+
|Interior and spat...|       31|
|              Lawyer|       30|
|   Social researcher|       28|
|  Purchasing manager|       27|
| Designer, jewellery|       27|
+--------------------+---------+
only showing top 5 rows

In [ ]:
#** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [142]:
spark.sql('select `Purchase Price` from data where lot = "90 WT" ').show()

+--------------+
|Purchase Price|
+--------------+
|          75.1|
+--------------+

In [ ]:
#** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [145]:
spark.sql('select email from data where `Credit Card` = 4926535242672853').show(truncate=False)

+----------------------------+
|email                       |
+----------------------------+
|bondellen@williams-garza.com|
+----------------------------+

In [ ]:
#* How many people have American Express as their Credit Card Provider *and made a purchase above $95 ?**

In [147]:
spark.sql('select count(*) as total_count from data where `CC Provider`="American Express" and `Purchase Price`>95 ').show()

+-----------+
|total_count|
+-----------+
|         39|
+-----------+

In [ ]:
#** Hard: How many people have a credit card that expires in 2025? **

In [161]:
spark.sql('select count(*) as expiry_count from data where SPLIT(`CC Exp Date`,"/")[1]=25').show(truncate = False)

+------------+
|expiry_count|
+------------+
|1033        |
+------------+

In [ ]:
#** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [166]:
spark.sql('select email , count(*) as email_count from (select SPLIT(`Email`,"@")[1] as email from data)a group by email order by email_count desc').show(5,truncate = False)

+------------+-----------+
|email       |email_count|
+------------+-----------+
|hotmail.com |1638       |
|yahoo.com   |1616       |
|gmail.com   |1605       |
|smith.com   |42         |
|williams.com|37         |
+------------+-----------+
only showing top 5 rows