In [1]:
import findspark

In [2]:
findspark.init()
findspark.find()

'C:\\apachespark\\spark-2.4.7-bin-hadoop2.7'

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark= SparkSession.builder.appName("testApp").getOrCreate()

In [6]:
salariesdf = spark.read.option('header',True).option('inferSchema',True ).csv('Salaries.csv')

In [7]:
salariesdf.show(5)

+---+-----------------+--------------------+---------+-----------+---------+--------+---------+----------------+----+-----+-------------+------+
| Id|     EmployeeName|            JobTitle|  BasePay|OvertimePay| OtherPay|Benefits| TotalPay|TotalPayBenefits|Year|Notes|       Agency|Status|
+---+-----------------+--------------------+---------+-----------+---------+--------+---------+----------------+----+-----+-------------+------+
|  1|   NATHANIEL FORD|GENERAL MANAGER-M...|167411.18|        0.0|400184.25|    null|567595.43|       567595.43|2011| null|San Francisco|  null|
|  2|     GARY JIMENEZ|CAPTAIN III (POLI...|155966.02|  245131.88|137811.38|    null|538909.28|       538909.28|2011| null|San Francisco|  null|
|  3|   ALBERT PARDINI|CAPTAIN III (POLI...|212739.13|  106088.18|  16452.6|    null|335279.91|       335279.91|2011| null|San Francisco|  null|
|  4|CHRISTOPHER CHONG|WIRE ROPE CABLE M...|  77916.0|   56120.71| 198306.9|    null|332343.61|       332343.61|2011| null|San Francisco|  null|
|  5|  PATRICK GARDNER|DEPUTY CHIEF OF D...| 134401.6|     9737.0|182234.59|    null|326373.19|       326373.19|2011| null|San Francisco|  null|
+---+-----------------+--------------------+---------+-----------+---------+--------+---------+----------------+----+-----+-------------+------+
only showing top 5 rows

In [9]:
salariesdf.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- EmployeeName: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- BasePay: double (nullable = true)
 |-- OvertimePay: double (nullable = true)
 |-- OtherPay: double (nullable = true)
 |-- Benefits: double (nullable = true)
 |-- TotalPay: double (nullable = true)
 |-- TotalPayBenefits: double (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Notes: string (nullable = true)
 |-- Agency: string (nullable = true)
 |-- Status: double (nullable = true)

In [10]:
salariesdf.registerTempTable('Salaries')

In [11]:
spark.sql('show tables').show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|        | salaries|       true|
+--------+---------+-----------+

In [12]:
spark.sql('select avg(BasePay) from Salaries').show()

+-----------------+
|     avg(BasePay)|
+-----------------+
|66325.44884048733|
+-----------------+

In [13]:
spark.sql('select max(OvertimePay) from Salaries').show()

+----------------+
|max(OvertimePay)|
+----------------+
|       245131.88|
+----------------+

In [14]:
spark.sql('select EmployeeName,JobTitle from Salaries where EmployeeName = "JOSEPH DRISCOLL"').show()

+---------------+--------------------+
|   EmployeeName|            JobTitle|
+---------------+--------------------+
|JOSEPH DRISCOLL|CAPTAIN, FIRE SUP...|
+---------------+--------------------+

In [15]:
spark.sql('select EmployeeName,JobTitle,TotalPayBenefits from Salaries where EmployeeName = "JOSEPH DRISCOLL" ').show()

+---------------+--------------------+----------------+
|   EmployeeName|            JobTitle|TotalPayBenefits|
+---------------+--------------------+----------------+
|JOSEPH DRISCOLL|CAPTAIN, FIRE SUP...|       270324.91|
+---------------+--------------------+----------------+

In [18]:
spark.sql('select EmployeeName,JobTitle,TotalPayBenefits from Salaries order by TotalPayBenefits DESC LIMIT 1 ').show()

+--------------+--------------------+----------------+
|  EmployeeName|            JobTitle|TotalPayBenefits|
+--------------+--------------------+----------------+
|NATHANIEL FORD|GENERAL MANAGER-M...|       567595.43|
+--------------+--------------------+----------------+

In [19]:
spark.sql('select EmployeeName,JobTitle,TotalPayBenefits from Salaries order by TotalPayBenefits asc LIMIT 1 ').show()

+------------+--------------------+----------------+
|EmployeeName|            JobTitle|TotalPayBenefits|
+------------+--------------------+----------------+
|   Joe Lopez|Counselor, Log Ca...|         -618.13|
+------------+--------------------+----------------+

In [21]:
spark.sql('select avg(BasePay),Year from Salaries where Year in (2011,2012,2013,2014) group by Year').show()

+------------------+----+
|      avg(BasePay)|Year|
+------------------+----+
|  69630.0302164778|2013|
| 66564.42192449694|2014|
| 65436.40685742066|2012|
|63595.956516774524|2011|
+------------------+----+

In [22]:
spark.sql('select count(distinct(JobTitle)) from Salaries').show()

+------------------------+
|count(DISTINCT JobTitle)|
+------------------------+
|                    2159|
+------------------------+

In [24]:
spark.sql('select count(JobTitle) ,JobTitle from Salaries group by Jobtitle order by count(Jobtitle) desc limit 5').show()

+---------------+--------------------+
|count(JobTitle)|            JobTitle|
+---------------+--------------------+
|           7036|    Transit Operator|
|           4389|       Special Nurse|
|           3736|    Registered Nurse|
|           2518|Public Svc Aide-P...|
|           2421|    Police Officer 3|
+---------------+--------------------+

In [25]:
spark.sql('select count(distinct(JobTitle)) ,EmployeeName from Salaries where Year = 2013 group by EmployeeName order by count(Jobtitle) desc limit 1').show()

+------------------------+------------+
|count(DISTINCT JobTitle)|EmployeeName|
+------------------------+------------+
|                       5|  Kevin  Lee|
+------------------------+------------+

In [34]:
spark.sql('select count(JobTitle) from Salaries where JobTitle like "%Chief%"').show()

+---------------+
|count(JobTitle)|
+---------------+
|            423|
+---------------+