In [1]:
import findspark 
findspark.init()

In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-win_amd64.whl (10.0 MB)
     ---------------------------------------- 10.0/10.0 MB 1.7 MB/s eta 0:00:00
Collecting pytz>=2017.3
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     -------------------------------------- 503.5/503.5 kB 3.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kiran.alva\anaconda3\envs\pysparkenv2\lib\site-packages (from pandas) (2.8.2)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.6-cp37-cp37m-win_amd64.whl (14.0 MB)
     ---------------------------------------- 14.0/14.0 MB 1.7 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\kiran.alva\anaconda3\envs\pysparkenv2\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.6 pandas-1.3.5 pytz-2022.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
from pyspark.sql import SparkSession

In [6]:
df = pd.read_csv("Ecommerce Purchases")

In [7]:
spark= SparkSession.builder.appName("testApp").getOrCreate()

In [8]:
df1 = spark.createDataFrame(df)

In [9]:
df1.show(5)

+--------------------+-----+--------+--------------------+--------------------+----------------+-----------+----------------+--------------------+--------------------+--------------------+---------------+--------+--------------+
|             Address|  Lot|AM or PM|        Browser Info|             Company|     Credit Card|CC Exp Date|CC Security Code|         CC Provider|               Email|                 Job|     IP Address|Language|Purchase Price|
+--------------------+-----+--------+--------------------+--------------------+----------------+-----------+----------------+--------------------+--------------------+--------------------+---------------+--------+--------------+
|16629 Pace Camp A...|46 in|      PM|Opera/9.56.(X11; ...|     Martinez-Herman|6011929061123406|      02/20|             900|        JCB 16 digit|   pdunlap@yahoo.com|Scientist, produc...|149.146.147.205|      el|         98.14|
|9374 Jasmine Spur...|28 rn|      PM|Opera/8.93.(Windo...|Fletcher, Richard...|3337758169645356|      11/18|             561|          Mastercard|  anthony41@reed.com|   Drilling engineer|   15.160.41.51|      fr|         70.73|
|Unit 0065 Box 505...|94 vE|      PM|Mozilla/5.0 (comp...|Simpson, Williams...|    675957666125|      08/19|             699|        JCB 16 digit|amymiller@morales...|Customer service ...| 132.207.160.22|      de|          0.95|
|7780 Julia Fords
...|36 vm|      PM|Mozilla/5.0 (Maci...|Williams, Marshal...|6011578504430710|      02/24|             384|            Discover|brent16@olson-rob...|   Drilling engineer|   30.250.74.19|      es|         78.04|
|23012 Munoz Drive...|20 IE|      AM|Opera/9.58.(X11; ...|Brown, Watson and...|6011456623207998|      10/25|             678|Diners Club / Car...|christopherwright...|         Fine artist|   24.140.33.94|      es|         77.82|
+--------------------+-----+--------+--------------------+--------------------+----------------+-----------+----------------+--------------------+--------------------+--------------------+---------------+--------+--------------+
only showing top 5 rows

In [10]:
df1.registerTempTable('Ecom')

In [11]:
spark.sql('show tables').show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|        |     ecom|       true|
+--------+---------+-----------+

In [13]:
spark.sql('select avg(`Purchase Price`) from ecom').show()

+-------------------+
|avg(Purchase Price)|
+-------------------+
|  50.34730200000001|
+-------------------+

In [14]:
spark.sql('select max(`Purchase Price`) from ecom').show()

+-------------------+
|max(Purchase Price)|
+-------------------+
|              99.99|
+-------------------+

In [15]:
spark.sql('select max(`Purchase Price`) from ecom').show()

+-------------------+
|max(Purchase Price)|
+-------------------+
|              99.99|
+-------------------+

In [16]:
spark.sql('select count(*)  from ecom where Language = "en"').show()

+--------+
|count(1)|
+--------+
|    1098|
+--------+

In [17]:
spark.sql('select count(*) from ecom where lower(Job) = "lawyer"').show()

+--------+
|count(1)|
+--------+
|      30|
+--------+

In [18]:
spark.sql('select `AM or PM` , count(`AM or PM`) from ecom group by `AM or PM`').show()

+--------+---------------+
|AM or PM|count(AM or PM)|
+--------+---------------+
|      PM|           5068|
|      AM|           4932|
+--------+---------------+

In [19]:
spark.sql('select job , count(job) from ecom group by job order by count(job) desc limit 5').show()

+--------------------+----------+
|                 job|count(job)|
+--------------------+----------+
|Interior and spat...|        31|
|              Lawyer|        30|
|   Social researcher|        28|
|Research officer,...|        27|
| Designer, jewellery|        27|
+--------------------+----------+

In [20]:
spark.sql('select `Purchase Price` from ecom where lot = "90 WT" ').show()

+--------------+
|Purchase Price|
+--------------+
|          75.1|
+--------------+

In [21]:
spark.sql('select email from ecom where `Credit Card` = 4926535242672853').show()

+--------------------+
|               email|
+--------------------+
|bondellen@william...|
+--------------------+

In [28]:
spark.sql('select count(*) from ecom where `CC Provider` = "American Express" and `Purchase Price` > 95').show()

+--------+
|count(1)|
+--------+
|      39|
+--------+

In [29]:
spark.sql('select count(*) from ecom where SPLIT(`CC Exp Date`,"/")[1]=25').show()

+--------+
|count(1)|
+--------+
|    1033|
+--------+

In [30]:
spark.sql('select email , count(*) as email_count from (select SPLIT(`Email`,"@")[1] as email from ecom) group by email order by email_count desc').show(5,truncate = False)

+------------+-----------+
|email       |email_count|
+------------+-----------+
|hotmail.com |1638       |
|yahoo.com   |1616       |
|gmail.com   |1605       |
|smith.com   |42         |
|williams.com|37         |
+------------+-----------+
only showing top 5 rows