In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\apachespark\\spark-2.4.7-bin-hadoop2.7'

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Demo').getOrCreate()

In [3]:
from pyspark.sql.types import *
schemaTransData = StructType([
    StructField("txnid", IntegerType(), True),
    StructField("txndate", StringType(), True),
    StructField("custid", IntegerType(), True),
    StructField("amount", DoubleType(), True),
    StructField("category", StringType(), True),
    StructField("subcategory", StringType(), True),
    StructField("city", StringType(), True),
    StructField("state", StringType(), True),
    StructField("txntype", StringType(), True),
                    ])

In [4]:
transDataDF = spark.read.schema(schemaTransData).csv('txnsSmall')

In [5]:
transDataDF.show(5)

+-----+----------+-------+------+------------------+--------------------+-----------+----------+-------+
|txnid|   txndate| custid|amount|          category|         subcategory|       city|     state|txntype|
+-----+----------+-------+------+------------------+--------------------+-----------+----------+-------+
|    0|06-26-2011|4007024| 40.33|Exercise & Fitness|Cardio Machine Ac...|Clarksville| Tennessee| credit|
|    1|05-26-2011|4006742|198.44|Exercise & Fitness|Weightlifting Gloves| Long Beach|California| credit|
|    2|06-01-2011|4009775|  5.58|Exercise & Fitness|Weightlifting Mac...|    Anaheim|California| credit|
|    3|06-05-2011|4002199|198.19|        Gymnastics|    Gymnastics Rings|  Milwaukee| Wisconsin| credit|
|    4|12-17-2011|4002613| 98.81|       Team Sports|        Field Hockey|Nashville  | Tennessee| credit|
+-----+----------+-------+------+------------------+--------------------+-----------+----------+-------+
only showing top 5 rows

In [6]:
transDataDF.printSchema()

root
 |-- txnid: integer (nullable = true)
 |-- txndate: string (nullable = true)
 |-- custid: integer (nullable = true)
 |-- amount: double (nullable = true)
 |-- category: string (nullable = true)
 |-- subcategory: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- txntype: string (nullable = true)

# Goal: Find  the total revenue generated based on category

### Approach 1 - SQL - based Approach

In [7]:


transDataDF.registerTempTable("transactions")

In [8]:
spark.sql("select category, sum(amount) from transactions group by category").show()

+--------------------+------------------+
|            category|       sum(amount)|
+--------------------+------------------+
|          Gymnastics|           3373.12|
|       Winter Sports|1314.2499999999998|
|             Jumping|           2078.58|
|         Team Sports| 5178.709999999999|
|          Air Sports|           1086.23|
|        Indoor Games|2498.8900000000012|
|               Games|           2899.91|
|Outdoor Play Equi...|           2419.12|
|        Water Sports|           4379.96|
|             Puzzles| 508.8599999999999|
|  Outdoor Recreation| 6190.070000000001|
|      Racquet Sports|           1221.73|
|       Combat Sports|           1655.38|
|             Dancing|            704.66|
|  Exercise & Fitness| 5016.370000000002|
+--------------------+------------------+

### Approach 2 - Using Programming Approach

In [12]:
transDataDF.select("txnid","amount").show(5)

+-----+------+
|txnid|amount|
+-----+------+
|    0| 40.33|
|    1|198.44|
|    2|  5.58|
|    3|198.19|
|    4| 98.81|
+-----+------+
only showing top 5 rows

In [15]:
transDataDF.groupBy('category').agg({'amount':'sum'}).show()

+--------------------+------------------+
|            category|       sum(amount)|
+--------------------+------------------+
|          Gymnastics|           3373.12|
|       Winter Sports|1314.2499999999998|
|             Jumping|           2078.58|
|         Team Sports| 5178.709999999999|
|          Air Sports|           1086.23|
|        Indoor Games|2498.8900000000012|
|               Games|           2899.91|
|Outdoor Play Equi...|           2419.12|
|        Water Sports|           4379.96|
|             Puzzles| 508.8599999999999|
|  Outdoor Recreation| 6190.070000000001|
|      Racquet Sports|           1221.73|
|       Combat Sports|           1655.38|
|             Dancing|            704.66|
|  Exercise & Fitness| 5016.370000000002|
+--------------------+------------------+

In [ ]:
#https://spark.apache.org/docs/2.4.7/api/python/pyspark.sql.html?highlight=dataframe#pyspark.sql.DataFrame